services:
  app:
    container_name: smunity-web
    image: smunity/web:latest
    build:
      context: .
    environment:
      CADDY_EMAIL: ${CADDY_EMAIL}
      BACKEND_HOST: ${BACKEND_HOST}
      GRAFANA_HOST: ${GRAFANA_HOST}
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    ports:
      - "80:80"
      - "443:443"
    restart: always

volumes:
  caddy_data:
  caddy_config:
