{
	email {$CADDY_EMAIL}
}

smunity.co.kr {
	encode zstd gzip
	root * /srv

	route {
		@api path /api/* /actuator/info
		handle @api {
			reverse_proxy {$BACKEND_HOST}
		}

        @grafana path /grafana*
		handle @grafana {
			uri strip_prefix /grafana
			reverse_proxy {$GRAFANA_HOST}
		}

		handle {
			try_files {path} {path}/ /index.html
			file_server
		}
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
}
