name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - feature/129

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false
          fetch-depth: 0
          fetch-tags: true
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_GREEN_GLACIER_0DF749200 }}
          action: 'upload'
          app_location: '/'
          api_location: ''
          output_location: 'dist'
